[workspace]
resolver = "2"
members = ["summa-core", "summa-proto", "summa-server", "summa-wasm"]

[profile.release]
lto = true
strip = "debuginfo"

[workspace.dependencies]
async-broadcast = "0.5.0"
async-trait = "0.1.61"
base64 = "0.21.0"
iroh-api = { git = "https://github.com/izihawa/iroh", branch = "feature/summa", version = "0.2.0" }
iroh-gateway = { git = "https://github.com/izihawa/iroh", branch = "feature/summa", version = "0.2.0" }
iroh-metrics = { git = "https://github.com/izihawa/iroh", branch = "feature/summa", version = "0.2.0" }
iroh-p2p = { git = "https://github.com/izihawa/iroh", branch = "feature/summa", version = "0.2.0" }
iroh-resolver = { git = "https://github.com/izihawa/iroh", branch = "feature/summa", version = "0.2.0" }
iroh-rpc-client = { git = "https://github.com/izihawa/iroh", branch = "feature/summa", version = "0.2.0" }
iroh-rpc-types = { git = "https://github.com/izihawa/iroh", branch = "feature/summa", version = "0.2.0" }
iroh-store = { git = "https://github.com/izihawa/iroh", branch = "feature/summa", version = "0.2.0" }
iroh-unixfs = { git = "https://github.com/izihawa/iroh", branch = "feature/summa", version = "0.2.0" }
rayon = "1.6.1"
serde = { version = "1.0.152", default_features = false, features = ["derive", "std"] }
serde_json = { version = "1.0.91" }
serde_yaml = { version = "0.8.26" }
tantivy = { package = "summavy", version = "0.25.1", default_features = false, features = ["quickwit", "zstd-compression"]}
tokio = { version = "1.24", default_features = false }
