[package]
edition = "2021"
name = "summa-server"
version = "0.11.0"
license-file = "LICENSE"
description = "Fast full-text search server"
homepage = "https://github.com/izihawa/summa"
repository = "https://github.com/izihawa/summa"
keywords = ["async", "search", "server", "grpc"]

[lib]
name = "summa_server"
path = "src/lib.rs"
doc = false

[[bin]]
name = "summa-server-bin"
path = "src/bin/main.rs"
doc = false

[features]
default = ["metrics"]
metrics = ["opentelemetry", "opentelemetry-prometheus", "prometheus", "summa-core/metrics"]

[badges]
maintenance = { status = "actively-developed" }

[build-dependencies]
tonic-build = { version = "0.8.0", default-features = false, features = ["prost", "transport"] }

[dev-dependencies]
summa-proto = { version = "0.11.0", path = "../summa-proto", features = ["test-utils"] }
tempdir = "0.3.7"

[dependencies]
anyhow = "1.0"
async-broadcast = "0.4"
async-trait = "0.1"
base64 = "0.20.0"
clap = { version = "4.0", features = ["cargo"] }
config = "0.13"
crossbeam-channel = "0.5"
derive_builder = "0.12"
futures = "0.3"
futures-util = "0.3"
hyper = { version = "0.14", default_features = false, features = ["client", "http1", "http2", "tcp"] }
iroh-api = { workspace = true }
iroh-metrics = { workspace = true }
iroh-p2p = { workspace = true }
iroh-rpc-client = { workspace = true }
iroh-store = { workspace = true }
iroh-unixfs = { workspace = true }
itertools = "0.10"
lazy_static = "1.4"
multihash = "0.18"
opentelemetry = { version = "0.18", features = ["rt-tokio"], optional = true }
opentelemetry-prometheus = { version = "0.11", optional = true }
path-absolutize = "3.0"
prometheus = { version = "0.13", optional = true }
prost = "0.11"
prost-types = "0.11"
rand = "0.8"
rdkafka = { version = "0.29" }
serde = { version = "1.0", features = ["derive"] }
serde_derive = "1.0"
serde_json = "1.0"
serde_yaml = "0.8.26"
summa-core = { version = "0.11.0", path = "../summa-core", features = ["fs", "ipfs"] }
summa-proto = { version = "0.11.0", path = "../summa-proto" }
take_mut = "0.2"
tantivy = { workspace = true }
tantivy-fst = "0.4.0"
time = { version = "0.3", features = ["serde-well-known", "wasm-bindgen"] }
thiserror = "1.0"
tokio = { version = "1.23", features = ["full", "time"] }
tokio-stream = { version = "0.1", features = ["net"] }
tokio-util = { version = "0.7", features = ["compat"] }
tonic = { version = "0.8", features = ["gzip"] }
tonic-reflection = "0.6"
tower = "0.4"
tower-http = { version = "0.3", features = ["set-header", "trace"] }
tracing = "0.1"
tracing-appender = "0.2"
tracing-futures = "0.2"
tracing-subscriber = { version = "0.3", features = ["env-filter", "json"] }
