---
---

@import "{{ site.theme }}";

pre.highlight {
  position: relative;
}

pre.highlight > button {
  width: 90px;
  background-color: #111;
  color: #aaa;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  transition: opacity 0.3s;
  opacity: 0;
  position: absolute;
  top: 4px;
  right: 4px;
}

pre.highlight:hover > button {
  opacity: 1;
}

pre.highlight > button:active,
pre.highlight > button:focus {
  opacity: 1;
}