[package]
name = "summa-core"
version = "0.1.0"
authors = ["Pasha Podolsky <ppodolsky@me.com>"]
edition = "2021"

[lib]
name = "summa_core"
path = "src/lib.rs"
doc = true

[features]
metrics = ["opentelemetry"]

[build-dependencies]
prost-build = { version = "0.11.0" }

[dependencies]
base64 = "0.13.0"
derive_builder = "0.11.2"
fasteval2 = { version = "2.0.3", features = ["unsafe-vars"] }
lazy_static = "1.4.0"
opentelemetry = { version = "0.18.0", optional = true }
prost = "0.11.0"
prost-types = "0.11.0"
rand = { version = "0.8.5", features = ["small_rng"] }
serde = { version = "1.0.140", features = ["derive"] }
serde_json = "1.0.85"
summa-proto = { version = "0.1.0", path = "../summa", default_features = false }
tantivy = { git = "https://github.com/izihawa/tantivy", branch = "feature/seg-attr", default_features = false, features = ["quickwit", "zstd-compression"] }
thiserror = "1.0.36"
time = { version = "0.3.14", features = ["serde-well-known", "wasm-bindgen"] }
